$color-primario: rgb(8, 35, 207);
$color-primario-light: rgb(8, 108, 207);
$color-exito:    rgb(19, 227, 92);
$color-alerta:   rgb(255, 193, 5);
$color-peligro:  rgb(238, 32, 73);

$espaciado: 1rem;
$radio-borde: 0.5rem;